*.DS_Store
*.ffs_db
*.ffs_lock
*.sync.ffs_db
*.trash
*.obsidian

Reference/*

Reports/Graduation Thesis/*

code/.idea/
code/env_python/
code/env_julia/

/Resources/*
!/Resources/概念画板笔记源文件

data/bankscope资产负债数据

code/分析文献/Data/*


